@import 'tailwindcss';

/* === Design tokens === */
:root {
  --header-h: 80px;
  --ppm-bg: #1e2126;
  --ppm-yellow: #e4e700;

  --font-title: var(--font-michroma);
  --font-body: var(--font-questrial);
}

/* === Tailwind theme extension === */
@theme inline {
  --color-ppmBg: var(--ppm-bg);
  --color-ppmYellow: var(--ppm-yellow);

  --font-title: var(--font-michroma);
  --font-body: var(--font-questrial);

  /* ✅ Breakpoints personalizados 
  --breakpoint-sm: 640px;
  --breakpoint-md: 860px; /* antes 768px 
  --breakpoint-lg: 1120px; /* antes 1024px 
  --breakpoint-xl: 1440px; /* antes 1280px 
  --breakpoint-2xl: 1680px; /* antes 1536px */

  --max-width-container: 1280px;
  --max-width-reading: 720px;
  --max-width-wide: 1600px;
}

/* Opcional */
body {
  background: var(--ppm-bg);
  color: white;
  font-family: var(--font-body), ui-sans-serif, system-ui;
}
