@import "tailwindcss";

/* === Design tokens === */
:root {
  --ppm-bg: #1E2126;
  --ppm-yellow: #E4E700;

  --font-title: var(--font-michroma);
  --font-body: var(--font-questrial);
}

/* === Tailwind theme extension === */
@theme inline {
  --color-ppmBg: var(--ppm-bg);
  --color-ppmYellow: var(--ppm-yellow);

  --font-title: var(--font-michroma);
  --font-body: var(--font-questrial);

  --max-width-container: 1180px;
}

/* Opcional */
body {
  background: var(--ppm-bg);
  color: white;
  font-family: var(--font-body), ui-sans-serif, system-ui;
}